$jane-theme-color: 'pumpkin' !default;

$article-max-width: 60em !default;


@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
$logo-font-family: "Dancing Script", serif !default;

$title-font-family: -apple-system, 'Open Sans', 'Segoe UI', 'Helvetica', Arial, sans-serif !default;

$global-font-family: -apple-system, 'Open Sans', 'Segoe UI', 'Helvetica', Arial, sans-serif !default;
$global-font-size: 18px !default;


$mobile-breakpoint: 768px;